@model ContosoUniversity.Models.Course

@{
    ViewData["Title"] = Model.CourseID == 0 ? "Create New Course" : "Edit Course";
}

<h2>@ViewData["Title"]</h2>
<form asp-action="@((Model.CourseID == 0) ? "Create" : "Edit")">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control"></input>
        <span asp-validation-for="Title" calss="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Credits" class="control-label"></label>
        <input asp-for="Credits" class="form-control"></input>
        <span asp-validation-for="Credits" calss="text-danger"></span>
    </div>

    <input type="hidden" asp-for="CourseID" />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Back to Index</a>
    </div>

    @if (Model.CourseID != 0)
    {
        <a asp-action="Clone" asp-route-id="@Model.CourseID" class="btn btn-secondary">Clone</a>
    }
</form>